body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 4px 2px -2px gray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Hero Section Styles */
.hero {
    color: rgb(32, 31, 31);
    text-align: center;
    padding: 4rem 1rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero .btn {
    background-color: #FF5722;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.hero .btn:hover {
    background-color: #E64A19;
}

/* Features,Services,Treatement Section Styles */
.features,.services,.treatement {
    padding: 2rem;
    background-color: white;
    max-width: 1200px;
    margin: 2rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features h2,.services h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.feature-item {
    text-align: center;
    margin-bottom: 1.5rem;
}

.feature-item h3 {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-bottom: 0.5rem;
}

.feature-item p {
    font-size: 1rem;
}

/* About Section Styles */
.about {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.about h2 {
    margin-bottom: 1rem;
}

.about p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


footer{
    position: relative;
}
.fig img{
    transition: 0.5s all ease-in-out;
}
.fig img:hover{
    transform: scale(1.09);
}