.waste-form {
  /* background-color: rgba(211, 211, 211, 0.1); */
  background-color: whitesmoke;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    /* background-image:url('../images/background_5.png.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgba(211, 211, 211, 0.1);
  }
  
  .form-group input[type="date"] {
    padding: 0.5rem;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  .btn {
    background-color: #FF5722;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn:hover {
    background-color: #E64A19;
  }

.outer{
  background-color: #E7F0DC;
  margin-top: -50px;
}
.counter-container {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  
}

.counter-btn {
  background-color: #82a56d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.counter-btn:hover {
  background-color: #a1cda8;
}

.counter-value {
  font-size: 18px;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}
